body{
    background-color: #b39ed9;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    border: 1px black solid;
}

.header_navigator ol{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 1px red solid;
    width: 100%;
    height: 50px;
    margin:0%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #78777a ;
}

ol .home,.about,.links, .contact,.testing,.mid_logo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.mid_logo{
    margin-left: 150px;
    margin-right: 150px;
}

.main_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    width: 80%;
    height: 500px;
    background-color: #9fd6d6;
}

.main_body div{
    border: 1px black solid;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    border-radius: 10px;
}

.main_body.ABOUT{
    gap:10%;
    background-color:cornflowerblue;
}

.mb_img{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    background-color: aqua;
}
.games{
    background-color: #b39ed9;
}

.games > *{
    flex-flow: column wrap;
    background-color: #9fd6d6;
    gap: 5px;
    margin: 5px;

}
.above_footer{
    width: 100%;
    height: 100px;
    justify-content: center;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    justify-content: center;
    
}